
body{
    background-color: rgba(0, 0, 0, 0.096);
}

.first_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.theme_mode{
    background-color: rgba(0, 0, 0, 0.082);
    padding: 4px;
    border-radius: 2em;

}
.theme_mode button{
    border: none;
    padding: 8px;
    border-radius: 2em;
}
#light_mode{
    background-color: rgb(22, 106, 201);
}
#light_mode img, #dark_mode img{
    width: 15px;

}
#dark_mode{
    background-color: transparent;
}

main{
    width: 90%;
    margin: auto;
    background-color: white;
    
}
.light_mode{
    background-color: white;
    color: black;
}
.dark_mode{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}

.cover_section{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSiiwJafYDdhPm49ypYvwXCH7faQz_fFbWTg&s);
    height: 10em;
    background-position: center;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
}

.profile_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 figure img{
    width: 10em;
    height: 9em;
    position: absolute;
    top: 12em;
    
    border-radius: 40em;
}
figure img:hover{
    width: 10.05em;
}
.button_container {
    margin-top: 1em;
    padding: 10px;

}
.button_container button{
    padding: 7px 25px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}
.message_btn{
    background: transparent;
    border: 1px solid black;
}
.connect_btn{
    background-color: rgb(22, 106, 201) ;
    color: white;
    border: none;
}
.message_btn:hover{
    background-color: rgb(22, 106, 201) ;
    color: white;
    border: none;

}
.connect_btn:hover{
    background: white;
    border: 1px solid black;
    color: black;

}
.social_links{
  padding-left: 2em;
   
   

}
a img{
    width: 35px;
}
a img:hover{
    width: 36px;
}
.profile_header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 1.5em 0em -10px 2em;
    

}
 .profile_header h2{
    margin: 0;
}
.profile_header p{
    margin-top: 20px;
    
}
#date{
    margin-top: -5px;
    margin-bottom: 30px;
}
.about_section{
    width: 95%;
    padding: 5px 20px;
    font-size: 1.05em;
    
}
.hobbies_dislikes_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   padding: 20px;
}

ul li{
    font-size: 1.05em;
    line-height: 40px;
}
.btn{
    border: 1px solid white;
}

@media(max-width: 768px){
    .button_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .hobbies_dislikes_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
}

